
	img#beeline-icon {
		margin:  8px 4px 4px;
	}

	ul#beeline-beta-menu {
		background-color: white;
		padding: 4px 2px;
		margin: 8px 36px 4px 0px;
		height: 28px;

		li {
			background-color: #eee;
			color: #666;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 80%;
			font-weight: bold;
			display: inline-block;
			padding: 0px 10px;
			margin: 0px 2px;
			line-height: 28px;
		}

		li.active#bright-button{
			color: white;
			@include gradient-horizontal(#0000FF, #FF0500);
		}
		li.active#dark-button{
			color: white;
			@include gradient-horizontal(#00057F, #970000);
		}
		li.active#blues-button{
			color: white;
			@include gradient-horizontal(#0000FF, #840DD2);
		}
		li.active#gray-button{
			color: black;
			@include gradient-horizontal(#666666, #FFFFFF);
		}	
		li.active#night_gray-button{
			color: white;
			@include gradient-horizontal(#666666, #000000);
		}
		li.active#off-button{
			color: black;
			background-color: white;
		}
	}
