#chrome-extension-install {
	text-align: center; 
	padding: 20px;

	@include linear-gradient(top, #CCCCCC, #FFFFFF);

	p, li {
		margin: 0;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 13px;
		line-height: 18px;
		color: #333;
		text-align: left;
	}

	div {
		text-align: left;
	}

	h3 {
		line-height: 27px;
		font-size: 18px;
		font-weight: bold;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		margin: 0;
		text-rendering: optimizelegibility;
		display: block;
	}

	#chrome-extension-footer {
		text-align: center;
		button {
			background-color: #000;
			padding: 5px 10px;
			@include linear-gradient(top, #444, #222);
			width: 135px;
			margin: 5px;
			padding: 5px;
		}
	}
}