.default-theme {
	background-color: white;
	color: black;
	#readium-content-container.mo-playing {
		color: #777;

		.current-mo-content {
			color: #000000;
		}

	}
}

.parchment-theme {
	background-color: #f7f1cf;
	color: #774c27;
	#readium-content-container.mo-playing {
		color: #eebb22;

		.current-mo-content {
			color: #774c27;
		}

	}
}

.night-theme {
	background-color: #141414;
	color: white;
	#readium-content-container.mo-playing {
		color: #666;

		.current-mo-content {
			color: white;
		}

	}
}