.modal-header {
	padding: 0px 15px;
}


/*

.modal-footer {
	background-color: #444444;
	text-align: left;
}

.modal-footer .btn-link {
	color: #FFFFFF;
	text-shadow: none;
}

h4.modal-title {
	color:#F29000;
}

*/