#system-message {
	text-align: center; 
	padding: 20px;

	@include linear-gradient(top, #CCCCCC, #FFFFFF);

	p {
		margin: 0;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 13px;
		line-height: 18px;
		color: #333;
		text-align: left;
	}

	div {
		text-align: left;
	}

	h3 {
		line-height: 27px;
		font-size: 18px;
		font-weight: bold;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		margin: 0;
		text-rendering: optimizelegibility;
		display: block;
	}

}