<div id="hiddenAccessKeys" style="display:none">
	<span>Available actions</span>
	<a accesskey="b" href="#">Back to Bookshare.org</a>
	<a accesskey="1" href="#">Next</a>
	<a accesskey="2" href="#">Previous</a>
	<a accesskey="t" href="#">Table of contents</a>
	{{#if ttsEnabled}}
	<a accesskey="p" href="#">Text to speech</a>
	{{/if}}	
	<a accesskey="o" href="#">Options</a>
	<a accesskey="n" href="#">Toggle night mode</a>
	<a accesskey="f" href="#">Toggle fullscreen mode</a>
	<a accesskey="h" href="#">Help</a>
	<a accesskey="x" href="#">Hide toolbar</a>
	<a accesskey="v" href="#">Show toolbar</a>
</div>