<div id="scrolling-wrapper" class="scrolling-page-wrap">
	<iframe scrolling="yes" 
			frameborder="0" 
			marginwidth="0" 
			marginheight="0" 
			width="100%" 
			height="100%" 
			title="{{ data.title }}"
			src="page.html"
			id='readium-scrolling-content'>
	</iframe>
</div>